@model Pharmacy.Models.HealthcareSystem

@{
    ViewData["Title"] = "Details";
}

<h1 style="font-family: 'Lato', sans-serif">Detalles de la Obra Social</h1>

<div>
    <h4>Obra Social</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Editar</a> |
    <a asp-action="Index">Volver al Listado</a>
</div>
